# Gå igenom och rätta alla features i scraped från fil

In [118]:
import pandas as pd
import numpy as np 
import datetime
import sys
sys.path.append('C:\\Users\peter\\Documents\\MyProjects\\PyProj\\Trav\\spel')
import fixa_mer_features as ff

In [119]:
df= pd.read_csv('all_scraped.csv')
df=df.sort_values(by=['datum','avd']).reset_index()
df.drop('index',axis=1,inplace=True)
df=df[df.vodds!='EJ']
df.shape

(40105, 62)

In [120]:
### ta bort .0 från datum och sätt ala NaN till None
for h in ['h1_dat','h2_dat','h3_dat','h4_dat','h5_dat',]:
    df[h]=df.loc[:,h].astype('string').str.replace('.0','',regex=False).astype('O')
    df.loc[df[h].isna(),h]=None

df.loc[df['h3_dat'].isna(),'h3_dat']

3247     None
13210    None
18209    None
23719    None
37972    None
37977    None
Name: h3_dat, dtype: object

In [121]:
df=ff.fixa_mer_features(df, hist=True)

startar Fixa mer
spår NaNs 89

In [122]:
# avd
print(df.avd.value_counts())
df.avd.unique()

4    6139
2    5979
5    5746
7    5721
6    5655
1    5461
3    5404
Name: avd, dtype: int64

array([1, 2, 3, 4, 5, 6, 7], dtype=int64)

In [123]:
# bana
print(df.bana.isna().sum())
print(df.bana.unique())

0
['ÖREBRO' 'JÄGERSRO' 'ROMME' 'ÅBY' 'BERGSÅKER' 'SOLVALLA' 'AXEVALLA'
 'KALMAR' 'GÄVLE' 'HALMSTAD' 'ESKILSTUNA' 'MOMARKEN' 'FÄRJESTAD' 'MANTORP'
 'UMÅKER' 'CHARLOTTENLUND' 'VERMO' 'ÖSTERSUND' 'BODEN' 'BJERKE' 'ÅRJÄNG'
 'HAGMYREN' 'RÄTTVIK' 'DANNERO' 'BOLLNÄS' 'SKELLEFTEÅ' 'JARLSBERG'
 'SOLÄNGET' 'ULEÅBORG' 'KLOSTERSKOGEN' 'BIRI' 'ÅRHUS' 'ÅLBORG']

In [124]:
# häst
print(df.häst.isna().sum())
df.häst.unique()

0

array(['ALLABALLAKAITOZ', 'ARISTOCAT BOKO', 'ART ON LINE', ...,
       'JOKER BOKO', 'MOJO EXPRESS', 'YUVARAJ'], dtype=object)

In [125]:
# kusk
print(df.kusk.isna().sum())
df.kusk.unique()

0

array(['Carl-Erik Lindblom', 'Ulf Ohlsson', 'Johnny Takter', ...,
       'Marie Hafstad Eriksson', 'Alf Nordemo', 'Julia Smedman'],
      dtype=object)

In [126]:
# streck
print(df.streck.isna().sum())
print(df.streck.unique())

0
[ 5  7 23 48  1  0  6 11  2  3 67  8 24 34 10 12 17  9 19  4 16 51 14 18
 26 29 53 13 41 28 32 33 27 20 49 64 35 22 30 37 74 21 38 46 42 36 15 52
 47 60 72 55 73 58 75 56 25 31 61 40 39 44 54 43 45 57 76 62 70 77 63 65
 50 69 79 66 80 86 89 90 81 78 59 68 71 85 87 84 88 83 82]

In [127]:
# plac
df.plac.value_counts(dropna=False)

15    12367
20     4839
4      3458
2      3457
1      3457
3      3450
5      3425
6      3284
7      2206
8       113
9        16
10       14
11       11
12        8
Name: plac, dtype: int64

In [128]:
# vodds
print(df.vodds.isna().sum())
df.vodds.unique()
# df.vodds = df.vodds.astype('float')
df.vodds.describe()

0

count    40105.000000
mean        31.523394
std         37.142578
min          1.030000
25%          7.350000
50%         17.470000
75%         42.740000
max        553.490000
Name: vodds, dtype: float64

In [129]:
# podds i formen fr - to räknas om till medelvärde ###
# def berPodds(podds):
#     if podds.find('-') < 0:
#         return float(podds) 
#     else:          
#         [odds1,odds2] = podds.split('-')
#         odds1=float(odds1.replace(',','.'))
#         odds2=float(odds2.replace(',','.'))
#         return round((odds1+odds2)/2,2)
    
# print(df.podds.isna().sum())
# df['podds']=df.podds.apply(lambda x: berPodds(x))

# df['podds'] = df.podds.astype('float')
df.podds.describe()

count    40105.000000
mean         5.243817
std          4.392258
min          1.000000
25%          2.370000
50%          3.730000
75%          6.565000
max         54.715000
Name: podds, dtype: float64

In [130]:
# kr (per start)
print(df.kr.isna().sum())
df.kr.describe()

0

count     40105.000000
mean      27840.122055
std       39118.046823
min           0.000000
25%       10536.000000
50%       16726.000000
75%       28621.000000
max      806743.000000
Name: kr, dtype: float64

In [131]:
# spår - behåll NaN för CB att fixa
print(df.spår.isna().sum())
df.spår.describe()

89

count    40016.00000
mean         5.70102
std          3.39440
min          1.00000
25%          3.00000
50%          5.00000
75%          8.00000
max         15.00000
Name: spår, dtype: float64

In [132]:
# dist
print(df.dist.isna().sum())
df.dist.describe()

0

count    40105.000000
mean      2187.934472
std        396.236762
min       1600.000000
25%       2100.000000
50%       2140.000000
75%       2160.000000
max       3700.000000
Name: dist, dtype: float64

In [133]:
# lopp_dist
print(df.lopp_dist.isna().sum())
df.lopp_dist.describe()

0

count    40105.000000
mean      2184.429672
std        392.987667
min       1600.000000
25%       2100.000000
50%       2140.000000
75%       2140.000000
max       3640.000000
Name: lopp_dist, dtype: float64

In [134]:
# start
# df['start']=(df.start=='AUTOSTART')*1
print(df.start.unique())
df.start.value_counts()

[0 1]

0    27970
1    12135
Name: start, dtype: int64

In [105]:
# ålder
print(df.ålder.unique())
print(df.ålder.describe())  # inga NaN

[ 6  7  4  9 12  5  3 11  8 10 15 14 13  2  0]
count    40105.000000
mean         5.823339
std          1.922492
min          0.000000
25%          4.000000
50%          5.000000
75%          7.000000
max         15.000000
Name: ålder, dtype: float64

In [106]:
# kön
print(df.kön.value_counts())
### De två hästarnas felaktiga kön har jag kunnat hämta från andra tävlingar
df.kön = df.kön.str.replace('4','h')  # GIVEITGAS AND GO
df.kön = df.kön.str.replace('5','h')  # ESCAPE BOKO
df.kön = df.kön.str.replace('3','h')  # CHOCOLATE BOX
df.kön.unique()

v    19535
s    10458
h    10106
4        4
3        1
5        1
Name: kön, dtype: int64

array(['v', 's', 'h'], dtype=object)

In [107]:
# pris (loppets pris) - skala ner till KSEK
print(df.pris.isna().sum())
# df.pris=df.pris/1000
df.pris.describe().astype(int)

0

count      40105
mean      188201
std       230118
min         7000
25%       100000
50%       125000
75%       200000
max      2000000
Name: pris, dtype: int32

## hist

In [108]:
df.columns

Index(['datum', 'avd', 'bana', 'häst', 'kusk', 'streck', 'vodds', 'podds',
       'kr', 'spår', 'dist', 'lopp_dist', 'start', 'ålder', 'kön', 'plac',
       'pris', 'h1_dat', 'h1_kusk', 'h1_bana', 'h1_spår', 'h1_plac', 'h1_pris',
       'h1_odds', 'h1_kmtid', 'h2_dat', 'h2_kusk', 'h2_bana', 'h2_spår',
       'h2_plac', 'h2_pris', 'h2_odds', 'h2_kmtid', 'h3_dat', 'h3_kusk',
       'h3_bana', 'h3_spår', 'h3_plac', 'h3_pris', 'h3_odds', 'h3_kmtid',
       'h4_dat', 'h4_kusk', 'h4_bana', 'h4_spår', 'h4_plac', 'h4_pris',
       'h4_odds', 'h4_kmtid', 'h5_dat', 'h5_kusk', 'h5_bana', 'h5_spår',
       'h5_plac', 'h5_pris', 'h5_odds', 'h5_kmtid', 'h1_dist', 'h2_dist',
       'h3_dist', 'h4_dist', 'h5_dist', 'bins', 'h1_auto', 'h2_auto',
       'h3_auto', 'h4_auto', 'h5_auto', 'h1_perf', 'h2_perf', 'h3_perf',
       'h4_perf', 'h5_perf', 'senast', 'delta1', 'delta2', 'delta3', 'delta4'],
      dtype='object')

In [109]:
# hx_dat
# def hx_dat(dat):
#     if dat.dtype not in ['int','int32','int64','float','float32','float64']:
#         dat=dat.str.replace('(','',regex=False)
#         dat=dat.str.replace(')','',regex=False)
#     print(dat.isna().sum())
#     # dat=pd.to_datetime(dat,format='%y%m%d')
#     return dat

# df['h1_dat'] = hx_dat(df.h1_dat.copy())
# df['h2_dat'] = hx_dat(df.h2_dat.copy())
# df['h3_dat'] = hx_dat(df.h3_dat.copy())
# df['h4_dat'] = hx_dat(df.h4_dat.copy())
# df['h5_dat'] = hx_dat(df.h5_dat.copy())
# df[['h1_dat','h2_dat','h3_dat','h4_dat','h5_dat']].describe()

In [110]:
# hx_kusk - prova om None kan användas för cat_features
def hx_kusk(kusk):
    print(kusk.isna().sum())
    # bättre med 'SAKNAS' än att modellen gör egna 'medelvärden'
    kusk.loc[kusk.isna()] = None  # 'SAKNAS'
    return kusk
df['h1_kusk'] = hx_kusk(df.h1_kusk.copy())
df['h2_kusk'] = hx_kusk(df.h2_kusk.copy())
df['h3_kusk'] = hx_kusk(df.h3_kusk.copy())
df['h4_kusk'] = hx_kusk(df.h4_kusk.copy())
df['h5_kusk'] = hx_kusk(df.h5_kusk.copy())

# len(df[df.h1_kusk=='SAKNAS']),len(df[df.h2_kusk=='SAKNAS']),len(df[df.h3_kusk=='SAKNAS']),len(df[df.h4_kusk=='SAKNAS']),len(df[df.h5_kusk=='SAKNAS'])    
len(df[df.h1_kusk.isna()]),len(df[df.h2_kusk.isna()]),len(df[df.h3_kusk.isna()]),len(df[df.h4_kusk.isna()]),len(df[df.h5_kusk.isna()])

0
0
6
28
89

(0, 0, 6, 28, 89)

In [111]:
# hx_bana - prova med None för cat_features
def hx_bana(bana):
    print(bana.isna().sum())
    # bättre med 'SAKNAS' än att modellen gör egna 'medelvärden'
    bana.loc[bana.isna()] = None  # 'SAKNAS'
    return bana
df['h1_bana'] = hx_bana(df.h1_bana.copy())
df['h2_bana'] = hx_bana(df.h2_bana.copy())
df['h3_bana'] = hx_kusk(df.h3_bana.copy())
df['h4_bana'] = hx_bana(df.h4_bana.copy())
df['h5_bana'] = hx_bana(df.h5_bana.copy())

# len(df[df.h1_bana=='SAKNAS']),len(df[df.h2_bana=='SAKNAS']),len(df[df.h3_bana=='SAKNAS']),len(df[df.h4_bana=='SAKNAS']),len(df[df.h5_bana=='SAKNAS'])    
len(df[df.h1_bana.isna()]),len(df[df.h2_bana.isna()]),len(df[df.h3_bana.isna()]),len(df[df.h4_bana.isna()]),len(df[df.h5_bana.isna()])

0
0
6
28
89

(0, 0, 6, 28, 89)

In [112]:
# hx_dist
def hx_dist(dist):
    print('hx_dist NaNs:',dist.isna().sum())
    return dist.astype(float)
df['h1_dist'] = hx_dist(df.h1_dist)
df['h2_dist'] = hx_dist(df.h2_dist)
df['h3_dist'] = hx_dist(df.h3_dist)
df['h4_dist'] = hx_dist(df.h4_dist)
df['h5_dist'] = hx_dist(df.h5_dist)
df[['h1_dist','h2_dist','h3_dist','h4_dist','h5_dist']].describe()

hx_dist NaNs: 0
hx_dist NaNs: 0
hx_dist NaNs: 6
hx_dist NaNs: 28
hx_dist NaNs: 89

            h1_dist       h2_dist       h3_dist       h4_dist       h5_dist
count  40105.000000  40105.000000  40099.000000  40077.000000  40016.000000
mean    2147.954295   2149.380775   2151.550512   2150.556129   2150.243203
std      377.149731    375.928824    373.803566    370.681419    368.303601
min      140.000000    140.000000    140.000000    140.000000    140.000000
25%     2100.000000   2100.000000   2100.000000   2100.000000   2100.000000
50%     2140.000000   2140.000000   2140.000000   2140.000000   2140.000000
75%     2160.000000   2160.000000   2160.000000   2160.000000   2160.000000
max     4240.000000   4220.000000   4450.000000   4450.000000   4450.000000

In [113]:
# hx_spår
df[['h1_spår','h2_spår','h3_spår','h4_spår','h5_spår']].describe()

            h1_spår       h2_spår       h3_spår       h4_spår       h5_spår
count  37175.000000  37175.000000  37175.000000  37175.000000  37175.000000
mean       5.454338      5.454338      5.454338      5.454338      5.454338
std        3.315060      3.315060      3.315060      3.315060      3.315060
min        1.000000      1.000000      1.000000      1.000000      1.000000
25%        3.000000      3.000000      3.000000      3.000000      3.000000
50%        5.000000      5.000000      5.000000      5.000000      5.000000
75%        8.000000      8.000000      8.000000      8.000000      8.000000
max       16.000000     16.000000     16.000000     16.000000     16.000000

In [114]:
### sätt alla NaN's till None om det går
nan_columns = df.loc[:,(df.isna().sum()>0).values].columns # alla kolumne med NaN
for c in nan_columns:
    df.loc[df[c].isna(),c] = None

In [115]:
# hx_plac
# def hx_plac(plac):
#     plac=plac.str.replace('r','',regex=False)
#     plac=plac.str.replace('d','20',regex=False)
#     # plac=plac.str.replace('0','15',regex=False)  # '10' 0ch '20'!
#     plac=plac.astype('float')
#     plac.loc[plac==0.0] = 15
#     return plac.astype('float')
    
# df.loc[df.h1_plac=='p',['h1_plac','h1_odds', 'h1_kmtid','h1_pris']]=None
# df.loc[df.h2_plac=='p',['h2_plac','h2_odds', 'h2_kmtid','h2_pris']]=None
# df.loc[df.h3_plac=='p',['h3_plac','h3_odds', 'h3_kmtid','h3_pris']]=None
# df.loc[df.h4_plac=='p',['h4_plac','h4_odds', 'h4_kmtid','h4_pris']]=None
# df.loc[df.h5_plac=='p',['h5_plac','h5_odds', 'h5_kmtid','h5_pris']]=None
# df.loc[df.h1_plac=='k',['h1_plac','h1_odds', 'h1_kmtid','h1_pris']]=None
# df.loc[df.h2_plac=='k',['h2_plac','h2_odds', 'h2_kmtid','h2_pris']]=None
# df.loc[df.h3_plac=='k',['h3_plac','h3_odds', 'h3_kmtid','h3_pris']]=None
# df.loc[df.h4_plac=='k',['h4_plac','h4_odds', 'h4_kmtid','h4_pris']]=None
# df.loc[df.h5_plac=='k',['h5_plac','h5_odds', 'h5_kmtid','h5_pris']]=None

# df.h1_plac=hx_plac(df.h1_plac)
# df.h2_plac=hx_plac(df.h2_plac)
# df.h3_plac=hx_plac(df.h3_plac)
# df.h4_plac=hx_plac(df.h4_plac)
# df.h5_plac=hx_plac(df.h5_plac)
df[['h1_plac','h2_plac','h3_plac','h4_plac','h5_plac']].describe()

            h1_plac       h2_plac      h3_plac      h4_plac      h5_plac
count  40098.000000  40104.000000  40098.00000  40098.00000  40098.00000
mean       5.651579      5.832411      5.85109      5.85109      5.85109
std        5.784504      5.924734      5.93321      5.93321      5.93321
min        1.000000      1.000000      1.00000      1.00000      1.00000
25%        2.000000      2.000000      1.00000      1.00000      1.00000
50%        3.000000      3.000000      3.00000      3.00000      3.00000
75%        6.000000      7.000000      7.00000      7.00000      7.00000
max       20.000000     20.000000     20.00000     20.00000     20.00000

In [135]:
# hx_pris
df[['h1_pris','h2_pris','h3_pris','h4_pris','h5_pris']].describe().astype(int)

       h1_pris  h2_pris  h3_pris  h4_pris  h5_pris
count    36882    36317    35880    35473    35095
mean       103      107      100       98       95
std        157      187      178      186      178
min          3        2        2        2        3
25%         31       30       30       30       30
50%         70       60       60       50       50
75%        125      110      110      100      100
max       2000     3000     3000     3000     3000

In [136]:
# hx_odds
# def hx_odds(odds):
#     odds.loc[odds=='-']=None
#     odds.loc[odds.str.lower()=='p']=None

#     return odds

# # hx_odds(df.h1_odds.copy())
# df.loc[df.h1_odds.str.lower()=='gdk',['h1_odds','h1_plac','h1_kmtid','h1_pris']]=None
# df.loc[df.h2_odds.str.lower()=='gdk',['h2_odds','h2_plac','h2_kmtid','h2_pris']]=None
# df.loc[df.h3_odds.str.lower()=='gdk',['h3_odds','h3_plac','h3_kmtid','h3_pris']]=None
# df.loc[df.h4_odds.str.lower()=='gdk',['h4_odds','h4_plac','h4_kmtid','h4_pris']]=None
# df.loc[df.h5_odds.str.lower()=='gdk',['h5_odds','h5_plac','h5_kmtid','h5_pris']]=None
# df.loc[df.h1_odds.str.lower()=='ejg',['h1_odds','h1_plac','h1_kmtid','h1_pris']]=None
# df.loc[df.h2_odds.str.lower()=='ejg',['h2_odds','h2_plac','h2_kmtid','h2_pris']]=None
# df.loc[df.h3_odds.str.lower()=='ejg',['h3_odds','h3_plac','h3_kmtid','h3_pris']]=None
# df.loc[df.h4_odds.str.lower()=='ejg',['h4_odds','h4_plac','h4_kmtid','h4_pris']]=None
# df.loc[df.h5_odds.str.lower()=='ejg',['h5_odds','h5_plac','h5_kmtid','h5_pris']]=None

# df.loc[df.h1_odds.str.lower()=='b-lp',['h1_odds','h1_plac','h1_kmtid','h1_pris']]=None
# df.loc[df.h2_odds.str.lower()=='b-lp',['h2_odds','h2_plac','h2_kmtid','h2_pris']]=None
# df.loc[df.h3_odds.str.lower()=='b-lp',['h3_odds','h3_plac','h3_kmtid','h3_pris']]=None
# df.loc[df.h4_odds.str.lower()=='b-lp',['h4_odds','h4_plac','h4_kmtid','h4_pris']]=None
# df.loc[df.h5_odds.str.lower()=='b-lp',['h5_odds','h5_plac','h5_kmtid','h5_pris']]=None

df=df[df.h3_odds!='ut'].copy() #ta bort häst med felaktig historia

df['h1_odds'] = df.h1_odds.astype(float)
df['h2_odds'] = df.h2_odds.astype(float)
df['h3_odds'] = df.h3_odds.astype(float)
df['h4_odds'] = df.h4_odds.astype(float)
df['h5_odds'] = df.h5_odds.astype(float)

In [137]:
df[['h1_odds','h2_odds','h3_odds','h4_odds','h5_odds']].describe()

            h1_odds       h2_odds       h3_odds       h4_odds       h5_odds
count  39878.000000  39874.000000  39805.000000  39684.000000  39473.000000
mean      15.413108     15.254895     15.277706     15.457799     15.882528
std       21.780727     21.646118     22.083987     22.386997     23.097722
min        1.000000      1.000000      0.500000      1.000000      1.000000
25%        3.500000      3.490000      3.430000      3.450000      3.460000
50%        7.345000      7.240000      7.170000      7.225000      7.370000
75%       17.720000     17.480000     17.270000     17.450000     17.890000
max      496.650000    359.360000    366.560000    487.450000    689.300000

In [138]:
# hx_kmtid
# def hx_kmtid(kmtid):
#     kmtid.loc[kmtid.str.get(-1)=='g'] = kmtid.loc[kmtid.str.get(-1)=='g'].str.replace('g','',regex=False)
#     kmtid.loc[kmtid.str.get(-1)=='a'] = kmtid.loc[kmtid.str.get(-1)=='a'].str.replace('a','',regex=False)
#     kmtid.loc[kmtid.str.get(-1)=='l'] = kmtid.loc[kmtid.str.get(-1)=='l'].str.replace('l','',regex=False)
#     kmtid.loc[kmtid.str.get(0)=='g']=None
#     kmtid.loc[kmtid.str.get(0)=='m']=None
#     kmtid.loc[kmtid.notna()&kmtid.str.contains('dm',regex=False)]=None
#     kmtid.loc[kmtid.notna()&kmtid.str.contains('vs',regex=False)]=None
#     kmtid.loc[kmtid.notna()&kmtid.str.contains('tr',regex=False)]=None
#     kmtid.loc[kmtid.notna()&kmtid.str.contains('kub',regex=False)]=None
#     kmtid.loc[kmtid.notna()&kmtid.str.contains('frd',regex=False)]=None
#     kmtid.loc[kmtid.notna()&kmtid.str.contains('nf',regex=False)]=None
#     kmtid.loc[kmtid.notna()&kmtid.str.contains('p',regex=False)]=None  # passgång
#     kmtid=kmtid.str.replace(',','.',regex=False)
#     kmtid=kmtid.str.replace(' ','',regex=False)
#     kmtid.loc[kmtid=='it']=None  # 'it' = ingen tidtagning
#     kmtid.loc[kmtid=='vänd']=None  # 'vänd' = ekipaget vände om
#     kmtid.loc[kmtid=='dist']=None  # 'dist' = distanserad 
#     kmtid.loc[kmtid=='']=None  
#     kmtid.loc[kmtid=='-']=None  
#     kmtid.loc[kmtid=='u']=None  
#     kmtid.loc[kmtid=='ul']=None       # 'ulg' utgått o galopp men'g' försvann ovan
#     return kmtid

# df['h1_auto'] = df.h1_kmtid.str.get(-1)=='a'
# df['h2_auto'] = df.h2_kmtid.str.get(-1)=='a'
# df['h3_auto'] = df.h3_kmtid.str.get(-1)=='a'
# df['h4_auto'] = df.h4_kmtid.str.get(-1)=='a'
# df['h5_auto'] = df.h5_kmtid.str.get(-1)=='a'

# df.h1_kmtid = hx_kmtid(df.h1_kmtid.copy()).astype('float')
# df.h2_kmtid = hx_kmtid(df.h2_kmtid.copy()).astype('float')
# df.h3_kmtid = hx_kmtid(df.h3_kmtid.copy()).astype('float')
# df.h4_kmtid = hx_kmtid(df.h4_kmtid.copy()).astype('float')
# df.h5_kmtid = hx_kmtid(df.h5_kmtid.copy()).astype('float')
df[['h1_kmtid','h2_kmtid','h3_kmtid','h4_kmtid','h5_kmtid']].describe()

           h1_kmtid      h2_kmtid      h3_kmtid      h4_kmtid      h5_kmtid
count  40101.000000  40102.000000  40095.000000  40073.000000  40008.000000
mean      16.199399     16.388918     16.482878     16.565648     16.676735
std        5.138662      5.254963      5.269420      5.276258      5.346611
min        8.100000      8.600000      8.200000      8.500000      1.200000
25%       13.300000     13.400000     13.500000     13.500000     13.600000
50%       14.600000     14.700000     14.800000     14.900000     15.000000
75%       16.300000     16.400000     16.500000     16.600000     16.800000
max       44.000000     38.900000     44.000000     58.900000     59.900000

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40105 entries, 0 to 40104
Data columns (total 78 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datum      40105 non-null  object
 1   avd        40105 non-null  int64
 2   bana       40105 non-null  object
 3   häst       40105 non-null  object
 4   kusk       40105 non-null  object
 5   streck     40105 non-null  int64
 6   vodds      40105 non-null  float64
 7   podds      40105 non-null  float64
 8   kr         40105 non-null  int64
 9   spår       40016 non-null  float64
 10  dist       40105 non-null  float64
 11  lopp_dist  40105 non-null  int64
 12  start      40105 non-null  int64
 13  ålder      40105 non-null  int64
 14  kön        40105 non-null  object
 15  plac       40105 non-null  int32
 16  pris       40105 non-null  int64
 17  h1_dat     40105 non-null  datetime64[ns]
 18  h1_kusk    40105 non-null  object
 19  h1_bana    40105 non-null  object
 20  h1_spår    37175 non-null  float64
 21  h1_plac    40098 non-null  float64
 22  h1_pris    36882 non-null  float64
 23  h1_odds    39878 non-null  float64
 24  h1_kmtid   40101 non-null  float64
 25  h2_dat     40105 non-null  datetime64[ns]
 26  h2_kusk    40105 non-null  object
 27  h2_bana    40105 non-null  object
 28  h2_spår    37175 non-null  float64
 29  h2_plac    40104 non-null  float64
 30  h2_pris    36317 non-null  float64
 31  h2_odds    39874 non-null  float64
 32  h2_kmtid   40102 non-null  float64
 33  h3_dat     40099 non-null  datetime64[ns]
 34  h3_kusk    40099 non-null  object
 35  h3_bana    40099 non-null  object
 36  h3_spår    37175 non-null  float64
 37  h3_plac    40098 non-null  float64
 38  h3_pris    35880 non-null  float64
 39  h3_odds    39805 non-null  float64
 40  h3_kmtid   40095 non-null  float64
 41  h4_dat     40077 non-null  datetime64[ns]
 42  h4_kusk    40077 non-null  object
 43  h4_bana    40077 non-null  object
 44  h4_spår    37175 non-null  float64
 45  h4_plac    40098 non-null  float64
 46  h4_pris    35473 non-null  float64
 47  h4_odds    39684 non-null  float64
 48  h4_kmtid   40073 non-null  float64
 49  h5_dat     40016 non-null  datetime64[ns]
 50  h5_kusk    40016 non-null  object
 51  h5_bana    40016 non-null  object
 52  h5_spår    37175 non-null  float64
 53  h5_plac    40098 non-null  float64
 54  h5_pris    35095 non-null  float64
 55  h5_odds    39473 non-null  float64
 56  h5_kmtid   40008 non-null  float64
 57  h1_dist    40105 non-null  float64
 58  h2_dist    40105 non-null  float64
 59  h3_dist    40099 non-null  float64
 60  h4_dist    40077 non-null  float64
 61  h5_dist    40016 non-null  float64
 62  bins       40105 non-null  int64
 63  h1_auto    40105 non-null  int32
 64  h2_auto    40105 non-null  int32
 65  h3_auto    40105 non-null  int32
 66  h4_auto    40105 non-null  int32
 67  h5_auto    40105 non-null  int32
 68  h1_perf    36876 non-null  float64
 69  h2_perf    36317 non-null  float64
 70  h3_perf    35880 non-null  float64
 71  h4_perf    35473 non-null  float64
 72  h5_perf    35095 non-null  float64
 73  senast     40105 non-null  float64
 74  delta1     40105 non-null  float64
 75  delta2     40099 non-null  float64
 76  delta3     40077 non-null  float64
 77  delta4     40016 non-null  float64
dtypes: datetime64[ns](5), float64(44), int32(6), int64(8), object(15)
memory usage: 23.3+ MB

In [140]:
print(len(df.columns))
df.columns

78

Index(['datum', 'avd', 'bana', 'häst', 'kusk', 'streck', 'vodds', 'podds',
       'kr', 'spår', 'dist', 'lopp_dist', 'start', 'ålder', 'kön', 'plac',
       'pris', 'h1_dat', 'h1_kusk', 'h1_bana', 'h1_spår', 'h1_plac', 'h1_pris',
       'h1_odds', 'h1_kmtid', 'h2_dat', 'h2_kusk', 'h2_bana', 'h2_spår',
       'h2_plac', 'h2_pris', 'h2_odds', 'h2_kmtid', 'h3_dat', 'h3_kusk',
       'h3_bana', 'h3_spår', 'h3_plac', 'h3_pris', 'h3_odds', 'h3_kmtid',
       'h4_dat', 'h4_kusk', 'h4_bana', 'h4_spår', 'h4_plac', 'h4_pris',
       'h4_odds', 'h4_kmtid', 'h5_dat', 'h5_kusk', 'h5_bana', 'h5_spår',
       'h5_plac', 'h5_pris', 'h5_odds', 'h5_kmtid', 'h1_dist', 'h2_dist',
       'h3_dist', 'h4_dist', 'h5_dist', 'bins', 'h1_auto', 'h2_auto',
       'h3_auto', 'h4_auto', 'h5_auto', 'h1_perf', 'h2_perf', 'h3_perf',
       'h4_perf', 'h5_perf', 'senast', 'delta1', 'delta2', 'delta3', 'delta4'],
      dtype='object')

In [141]:
df.to_csv('all_data.csv',index=False,date_format='%s')

In [ ]:
df.info()