# Nya features
### 1. Kolla vad antal hästar per lopp kan ge
### 2. Kolla vad Bayes target kodning för bana, kusk och häst kan ge

In [1]:
# import modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display

In [2]:
# Läs in all_data.csv
# select numeric columns
df = pd.read_csv('../all_data.csv')
# df.set_index('datum', inplace=True)
df.columns

Index(['datum', 'avd', 'bana', 'häst', 'kusk', 'streck', 'vodds', 'podds',
       'kr', 'spår', 'dist', 'lopp_dist', 'start', 'ålder', 'kön', 'plac',
       'pris', 'h1_dat', 'h1_kusk', 'h1_bana', 'h1_spår', 'h1_plac', 'h1_pris',
       'h1_odds', 'h1_kmtid', 'h2_dat', 'h2_kusk', 'h2_bana', 'h2_spår',
       'h2_plac', 'h2_pris', 'h2_odds', 'h2_kmtid', 'h3_dat', 'h3_kusk',
       'h3_bana', 'h3_spår', 'h3_plac', 'h3_pris', 'h3_odds', 'h3_kmtid',
       'h4_dat', 'h4_kusk', 'h4_bana', 'h4_spår', 'h4_plac', 'h4_pris',
       'h4_odds', 'h4_kmtid', 'h5_dat', 'h5_kusk', 'h5_bana', 'h5_spår',
       'h5_plac', 'h5_pris', 'h5_odds', 'h5_kmtid', 'h1_dist', 'h2_dist',
       'h3_dist', 'h4_dist', 'h5_dist', 'bins', 'h1_auto', 'h2_auto',
       'h3_auto', 'h4_auto', 'h5_auto', 'h1_perf', 'h2_perf', 'h3_perf',
       'h4_perf', 'h5_perf', 'senast', 'delta1', 'delta2', 'delta3', 'delta4',
       'startnr'],
      dtype='object')

In [3]:
# count number per avdeling
df_count = df.groupby(['datum','avd'])['avd'].count()
df['avd_count'] = None
df['avd_count'] = df.groupby(['datum', 'avd'])['avd'].transform('count')

In [4]:
df['avd_count'].unique()
my_remove_list = ['streck']
sorted(df['avd_count'].unique())

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

# Kolla med catboost

### Några hjälp-funktioner

In [5]:
def split_data(df_,train_from_proc=0,test_proc=0.25):
    df=df_.copy()
    alla_datum = df.datum.unique()
    train_from_datum = alla_datum[ int(len(alla_datum)*train_from_proc)]
    print("train from",train_from_datum)
    X_test=None
    y_test=None
    test_from_datum=alla_datum[-1]
    if test_proc:
        selected_data = alla_datum[ alla_datum >= train_from_datum ]
        test_from_datum = selected_data[ int(len(selected_data)*(1-test_proc)) ]
        print("test from",test_from_datum)
        X_test  = df[df.datum >= test_from_datum]
        y_test  = (X_test.plac==1)*1
        X_test  = X_test.drop('plac',axis=1)
        
    X_train = df[(df.datum >= train_from_datum) & (df.datum < test_from_datum) ]
    y_train = (X_train.plac==1)*1
    
    return X_train.drop('plac', axis=1), X_test, y_train, y_test
### Features som inte används vid träning

def remove_features(df_, remove_mer=[]):
    df = df_.drop(['avd', 'startnr', 'vodds', 'podds', 'bins',
                  'h1_dat', 'h2_dat', 'h3_dat', 'h4_dat', 'h5_dat'], axis=1)
    if remove_mer:
        df = df.drop(remove_mer, axis=1)
    return df

### set up for catboost classifier

In [6]:
# set up catboost classifier model
from catboost import CatBoostClassifier, cv, Pool

X_train, X_test, y_train, y_test = split_data(
    df, train_from_proc=0.3, test_proc=0.25)
X_train = remove_features(X_train, remove_mer=my_remove_list )
X_test = remove_features(X_test, remove_mer=my_remove_list )

cat_features = list(X_train.select_dtypes('object').columns)
X_train[cat_features] = X_train[cat_features].fillna('missing')
X_test[cat_features] = X_test[cat_features].fillna('missing')
print(cat_features)
pool = Pool(X_train, y_train, cat_features=cat_features)
test_pool = Pool(X_test, y_test, cat_features=cat_features)
X_train.shape, X_test.shape

train from 2017-03-11
test from 2020-07-28
['datum', 'bana', 'häst', 'kusk', 'kön', 'h1_kusk', 'h1_bana', 'h2_kusk', 'h2_bana', 'h3_kusk', 'h3_bana', 'h4_kusk', 'h4_bana', 'h5_kusk', 'h5_bana']

((22850, 68), (7666, 68))

In [14]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22850 entries, 13118 to 35967
Data columns (total 68 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datum      22850 non-null  object
 1   bana       22850 non-null  object
 2   häst       22850 non-null  object
 3   kusk       22850 non-null  object
 4   kr         22850 non-null  float64
 5   spår       22761 non-null  float64
 6   dist       22850 non-null  float64
 7   lopp_dist  22850 non-null  float64
 8   start      22850 non-null  int64
 9   ålder      22850 non-null  int64
 10  kön        22850 non-null  object
 11  pris       22850 non-null  float64
 12  h1_kusk    22850 non-null  object
 13  h1_bana    22850 non-null  object
 14  h1_spår    21114 non-null  float64
 15  h1_plac    22845 non-null  float64
 16  h1_pris    20909 non-null  float64
 17  h1_odds    22718 non-null  float64
 18  h1_kmtid   22847 non-null  float64
 19  h2_kusk    22850 non-null  object
 20  h2_bana    22850 non-null  object
 21  h2_spår    21114 non-null  float64
 22  h2_plac    22850 non-null  float64
 23  h2_pris    20569 non-null  float64
 24  h2_odds    22708 non-null  float64
 25  h2_kmtid   22848 non-null  float64
 26  h3_kusk    22850 non-null  object
 27  h3_bana    22850 non-null  object
 28  h3_spår    21114 non-null  float64
 29  h3_plac    22847 non-null  float64
 30  h3_pris    20294 non-null  float64
 31  h3_odds    22688 non-null  float64
 32  h3_kmtid   22846 non-null  float64
 33  h4_kusk    22850 non-null  object
 34  h4_bana    22850 non-null  object
 35  h4_spår    21114 non-null  float64
 36  h4_plac    22847 non-null  float64
 37  h4_pris    20075 non-null  float64
 38  h4_odds    22634 non-null  float64
 39  h4_kmtid   22834 non-null  float64
 40  h5_kusk    22850 non-null  object
 41  h5_bana    22850 non-null  object
 42  h5_spår    21114 non-null  float64
 43  h5_plac    22847 non-null  float64
 44  h5_pris    19826 non-null  float64
 45  h5_odds    22504 non-null  float64
 46  h5_kmtid   22796 non-null  float64
 47  h1_dist    22850 non-null  float64
 48  h2_dist    22850 non-null  float64
 49  h3_dist    22848 non-null  float64
 50  h4_dist    22836 non-null  float64
 51  h5_dist    22800 non-null  float64
 52  h1_auto    22850 non-null  int64
 53  h2_auto    22850 non-null  int64
 54  h3_auto    22850 non-null  int64
 55  h4_auto    22850 non-null  int64
 56  h5_auto    22850 non-null  int64
 57  h1_perf    20904 non-null  float64
 58  h2_perf    20569 non-null  float64
 59  h3_perf    20294 non-null  float64
 60  h4_perf    20075 non-null  float64
 61  h5_perf    19826 non-null  float64
 62  senast     22850 non-null  float64
 63  delta1     22850 non-null  float64
 64  delta2     22848 non-null  float64
 65  delta3     22836 non-null  float64
 66  delta4     22800 non-null  float64
 67  avd_count  22850 non-null  int64
dtypes: float64(45), int64(8), object(15)
memory usage: 12.0+ MB

In [8]:
# run catboost
cb = CatBoostClassifier(
    iterations=1000,
    # eval_metric='MAE',
    early_stopping_rounds=100,
    random_seed=42,
    verbose=100
)
cb.fit(pool, eval_set=test_pool)

Learning rate set to 0.068636
0:	learn: 0.6272175	test: 0.6276838	best: 0.6276838 (0)	total: 201ms	remaining: 3m 20s
100:	learn: 0.2408297	test: 0.2798247	best: 0.2761176 (49)	total: 8.09s	remaining: 1m 11s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.2761176166
bestIteration = 49

Shrink model to first 50 iterations.

Med streck:  
alla:  
bestTest = 0.2410183541  
bestIteration = 210  

alla 0:or borta:  
bestTest = 0.2412283588  
bestIteration = 67  

Utan streck:  
alla:  
bestTest = 0.2745510195  
bestIteration = 0 

alla 0:or borta:  
bestTest =0.272817442 0.2742631409   
bestIteration = 75

In [9]:
my_feature_imp =cb.get_feature_importance(prettified=True)
my_remove_list2 = my_feature_imp[my_feature_imp.Importances <= 0]['Feature Id'].to_list()
print(my_remove_list2)
my_remove_list=my_remove_list+my_remove_list2
# remove duplicates
my_remove_list = list(set(my_remove_list))

['start', 'h1_pris', 'h2_kusk', 'h3_kusk', 'h3_plac', 'h3_kmtid', 'h4_plac', 'h5_kusk', 'h5_pris', 'h4_dist', 'h1_auto', 'h3_auto', 'h4_auto', 'h5_auto']

In [122]:
cb.get_feature_importance(prettified=True)

   Feature Id  Importances
0        häst    11.220096
1        pris     9.525040
2       datum     8.302184
3          kr     7.649721
4        spår     5.125639
5     h1_odds     5.035553
6        kusk     4.890557
7     h3_odds     4.772404
8     h1_perf     3.489494
9     h2_odds     2.976799
10      ålder     2.785732
11    h4_odds     2.606945
12    h1_plac     2.519151
13        kön     2.222282
14    h2_perf     1.960272
15       dist     1.829373
16    h2_plac     1.792159
17    h5_bana     1.503455
18    h1_bana     1.397149
19    h5_odds     1.262911
20    h5_pris     1.176489
21    h4_perf     1.121896
22   h4_kmtid     1.088740
23    h5_perf     1.001543
24    h1_pris     0.941757
25    h1_kusk     0.913092
26    h2_bana     0.911366
27       bana     0.870633
28   h2_kmtid     0.800913
29   h3_kmtid     0.788366
30    h4_bana     0.758126
31    h1_dist     0.686397
32    h2_pris     0.685785
33    h1_spår     0.588971
34     delta1     0.559235
35    h3_plac     0.559222
36    h5_spår     0.525373
37    h2_auto     0.436121
38   h5_kmtid     0.396800
39    h3_spår     0.355752
40    h5_dist     0.328642
41     senast     0.316258
42   h1_kmtid     0.312356
43     delta4     0.277729
44    h3_bana     0.246222
45    h4_plac     0.236555
46    h4_pris     0.168411
47     delta2     0.080334

# Använd Bayes target encoding (mitt eget namn) 
### för Bana, Häst och Kusk (fortsätt senare)

In [184]:
# Bayes function
def compute_Bayes(bana, häst, df_):
    df = df_.copy()
    # p(A|B) = p(B|A) * p(A) / p(B)
    # p(A) häst total performance
    # p(B) Share of bana in df
    # p(B|A) Share of bana where häst is winner
    # p(A|B) probabiity that häst is winner in bana
    # Find häst total performance
    total_performance = df.loc[(df.häst == häst) & (df.plac == 1),['datum','avd','bana','häst','kusk']]
    print(total_performance)
compute_Bayes('AXEVALLA', 'NINJA ZON', df)

# df.loc[(df.häst == 'GOGO GIRL') & (df.plac == 1),'plac']
print(f'Antal ggr NUNCIO har vunnit på SOLVALLA  : {df.loc[(df.bana=="SOLVALLA") & (df.häst=="NUNCIO") & (df.plac==1),"häst"].count()}')
print(f"Antal ggr NUNCIO har sprungit på SOLVALLA: {df.loc[(df.bana == 'SOLVALLA') & (df.häst == 'NUNCIO'), 'häst'].count()}")
print(f"Antal ggr NUNCIO har vunnit totalt       : {df.loc[(df.häst == 'NUNCIO') & (df.plac==1),'häst'].count()}")
print(f"Antal ggr NUNCIO har sprungit totalt     : {df.loc[(df.häst == 'NUNCIO'),'häst'].count()}")

            datum  avd      bana       häst              kusk
43084  2021-12-31    4  AXEVALLA  NINJA ZON  Markus Niklasson
Antal ggr NUNCIO har vunnit på SOLVALLA  : 5
Antal ggr NUNCIO har sprungit på SOLVALLA: 8
Antal ggr NUNCIO har vunnit totalt       : 13
Antal ggr NUNCIO har sprungit totalt     : 18